$vermelho: rgb(182, 59, 59);
$branco:   rgb(255, 255, 255);
$cinza:    rgb(69, 69, 69);
$verde:    rgb(0, 150, 62);
$preto:    rgb(0, 0, 0);
$ciano:    rgb(0, 218, 247);
$roxo:     rgb(108, 0, 209);
$azul:     rgba(0, 60, 94, 0.363);

